.check{
  display: grid;
  background-color: none;
  grid-template-columns: 55px 250px 250px 250px;
  grid-template-rows: calc(100vh - 90px);
  gap: 20px;
  grid-template-areas:
    "sidebar content1 content2 content3";
  overflow-x: auto;  
}

.sidebar{
  grid-area: sidebar;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #94B4C1;
  border-radius: 10px;
}

.content1{
  grid-area: content;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-radius: 10px;  
}

.content2{
  grid-area: content;
  background-color: transparent;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2; 
}

.content3{
  grid-area: content;
  background-color: transparent;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; 
}